/*comentario en css */

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    left: 0%;
    top: 0%;
    font-size: large;
    font-weight: 700;
}

.header {
    /*background-size: cover; */
    min-height: 80px;
    background-color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 1;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

main {
    margin-top: 80px;
}

.active_nav {
    color: hsl(195, 91%, 46%) !important;
    padding-right: 20px !important;
}

.nav-link {
    color: hsl(319, 91%, 46%);
    padding-right: 20px !important;
}

ul {
    gap: 100px;
}

.fixed-top {
    padding: 0px;
}

.style-color {
    /* background-color: transparent!important; */
}

.btn-dark {
    background-color: #fff6fc;
    border-color: #dffffe;
    color: #61053B;
    margin-left: auto;
    margin-right: auto;
    border-width: medium;
}

body {
    /*background-color: #fff0ff */
}

.form-control {
    /*font-style: oblique; */
    border-color: #dffffe;
    background-color: #fff6fc;
}

.carousel-item img {
    height: 500px;
    object-fit: fill;
}

.container-fluid {
    overflow: hidden;
}

.container_index {
    width: 100%;
}

.btn-group-vertical {
    position: fixed;
    top: 70%;
    left: 93%;
    z-index: 2;
}

.productos_index {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-img-top-index {
    height: 160px;
    padding: 5px;
    filter: drop-shadow(2px 4px 6px black);
}

.card-img-top {
    height: 160px;
    padding: 5px;
    filter: drop-shadow(2px 4px 6px black);
}

.card-body {
    height: 250px;
    width: max-content
}

.btn-primary-index {
    background-color: #FA9BD3;
    color: #61053B;
    border-color: #dffffe;
    font-weight: 500;
    border-width: medium;
    margin-left: 25px;
}

.titulo_categorias_tienda {
    background: linear-gradient(to right, rgb(255, 110, 127), rgb(191, 233, 255));
    text-align: start;
    padding: 10px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.productos_tienda {
    overflow: auto;
    width: 100%;
}

.Fotos_productos_tienda {
    flex-wrap: wrap;
    display: flex;
    gap: 25px;
    margin-left: 55px;
}

.img_productos_tienda {
    width: 150px;
    border-radius: 10px;
    padding: 5px;
    height: 150px;
    filter: drop-shadow(2px 4px 6px black);
    margin: 25px;
}

.productos_tienda h4 {
    color: #f2116c;
    font-weight: 900;
}

.productos_tienda h5 {
    color: #ed616f;
}

.Outfits_tienda {
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-body-oufits {
    height: 0px;
}

.card-title {
    color: #f2116c;
    font-weight: bolder;
}

.card-text {
    color: #ed616f;
    font-weight: 500;
}

.nav-link {
    font-size: x-large;

}

.nav-pills {
    --bs-nav-pills-link-active-bg: #bfe9ff;
}

.titulo_outfits_tienda {
    background: linear-gradient(to right, rgb(255, 110, 127), rgb(191, 233, 255));
    text-align: center;
    margin-top: 30px;
    font-weight: bolder;
    padding: 10px;
    margin-bottom: 60px;
}

.texto_mayorista {
    margin-bottom: 0px;
    margin-top: 20px;
    font-weight: bolder;
    align-self: center;
    margin-left: 0px;
}

.section1_mayorista {
    display: flex;
    margin-bottom: 40px;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

.btn-dark_mayorista {
    margin-left: 500px;
    margin-right: auto;
    background-color: #FA9BD3;
    color: #be3183;
    margin-top: 0px;
    font-weight: 500;
    border: #bfe9ff;
    border-width: medium;
    margin-bottom: 40px;
}

.formulario_contacto_mayorista {
    margin-right: 0px;
    margin-left: 0px;
    overflow: hidden;
    font-style: oblique;
    font-weight: 300;
}

.main_mayorista {
    background-image: url(../imagenes/tarjeta_vip.jpg);
    background-position-x: 0px;
    background-position-y: center;
    overflow: hidden;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    object-fit: cover;
}

.section2_mayorista {
    margin-left: 0px;
}

.section1_contacto {
    display: flex;
    flex-direction: column;
    text-align-last: justify;
    margin-bottom: 20px;
}

.titulo_contacto {
    background: linear-gradient(to right, rgb(255, 110, 127), rgb(191, 233, 255));
    text-align: end;
    padding-right: 20px;
    font-weight: 700;
}

.titulo_redes_contacto {
    background: linear-gradient(to right, rgb(255, 110, 127), rgb(191, 233, 255));
    padding-left: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.redes_contacto {
    text-decoration: none;
    margin-right: 40px;
    margin-left: 40px;
}

.imagen_redes {
    width: 5%;
}

.texto_contacto {
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 0px;
    width: 80%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.btn-dark-1 {
    background-color: #FA9BD3;
    color: #61053B;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 0px;
    font-weight: 500;
    border: #bfe9ff;
    border-width: medium;
}

.formulario_contacto_ {
    margin-right: 0px;
    margin-left: 0px;
    overflow: hidden;
    font-style: oblique;
    font-weight: 300;
}

.mapa_contacto {
    margin-top: 30px;
    margin-left: 0px;
    overflow: hidden;
}

.direccion_contacto {
    color: #61053B;

    text-align: center;
}

footer {
    background-color: #61053B;
    color: #FA9BD3;
    width: 100%;
    left: 0%;
    display: flex;
    justify-content: space-between;
    top: 0%;
    padding: 10px 10px;
    font-size: small;
}

@media (max-width: 1024px) {
    .btn-primary-index {
        margin-left: 10px;
    }

    ul {
        gap: 0;
    }

    .nav-link {
        font-size: larger;
    }

    .card_index {
        width: 30%;
        padding-bottom: 20px;
        margin-left: 25px;
    }

    .texto_mayorista {
        text-align: center;

    }

    .btn-dark_mayorista {
        margin-left: 440px;
    }

    .main_mayorista {
        background-position-x: -352px;
        background-position-y: 1062px;
    }

    .section1_mayorista {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .btn-group-vertical {
        left: 80%;
    }

    ul {
        gap: 0;
    }

    .nav-link {
        font-size: small;
    }

    .card {
        margin-bottom: 30px;
    }

    .card_index {
        width: 60%;
        margin-left: auto;
        margin-right: auto;

    }

    .productos_index {
        margin-bottom: 20px;
    }

    main {
        margin-top: 40px;
    }

    .Fotos_productos_tienda {

        display: inherit;
    }

    .img_productos_tienda {
        width: 70%;
        margin: 15px;
    }

    .Outfits_tienda {
        margin-bottom: 30px;
    }

    .titulo_outfits_tienda {
        padding: 10px;
    }

    .texto_mayorista {
        text-align: start;
        margin: 10px;
    }

    .btn-dark_mayorista {
        margin-top: 0px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .main_mayorista {
        background-position-x: -800px;
        background-position-y: -560px;
    }

    .formulario_contacto_mayorista {
        font-weight: 900;
        padding-top: 45px;
    }

    .section1_mayorista {
        margin: 10px;
        flex-direction: column;
    }

    .btn-dark-1 {
        margin-bottom: 30px;
    }
    
    .section1_contacto {

        margin-top: 20px;
        margin-bottom: 20px;

    }

    .titulo_redes_contacto {
        padding-left: 10px;
    }

    .titulo_contacto {
        padding-right: 10px;
    }

    .texto_contacto {
        text-align: start;
        font-weight: 700;
        text-transform: none;
        margin-top: 20px;
    }

    .imagen_redes {
        width: 75px;
        padding: 10px;
        margin: 0px;
    }

    .redes_contacto {
        margin: 0px;
    }

    .imagen_logo_nav {
        margin-left: 82px;
        margin-bottom: -21px;
    }


}